In [48]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

abs_data_path = "data/stats"
CONNECTIONS = [
    # B1
    ("b1", "ftj"),
    ("b1", "uci"),
    ("b1", "b6"),
    # B6
    ("b6", "ms"),
    ("b6", "uci"),
    ("b6", "b1"),
    ("b6", "ftj"),
    # UCI
    ("uci", "ftj"),
    ("uci", "b1"),
    ("uci", "b6"),
    ("uci", "cyfronet"),
     # FTJ
    ("ftj", "b1"),
    ("ftj", "uci"),
    ("ftj", "b6"),
    ("ftj", "cyfronet"),
    ]

### TODO: 
- inverstigate this :
```
Num of unique collections: 284
Num of collection files: 271
```

### Load a dataframe

In [49]:
files_tree = {}

for date_folder in os.listdir(abs_data_path):
    if date_folder.startswith("."):
        continue

    for log_file in os.listdir(abs_data_path+"/"+date_folder):
        if log_file[:-4] not in files_tree:
            files_tree[log_file[:-4]] = []

        files_tree[log_file[:-4]].append(abs_data_path+"/"+date_folder+"/"+log_file)

files_flat = []
for con in files_tree:
    files_flat += files_tree[con]

files_flat = set(files_flat)

In [50]:
csv_headers = ["timestamp", "incoming_rate_avg", "outgoing_rate_avg", "incoming_rate_max", "outgoing_rate_max"]
col_names = csv_headers + ["collection_timestamp", "src_host", "dst_host"]

df = pd.DataFrame(columns=col_names)

dfs = []

for date_folder in os.listdir(abs_data_path):

    if date_folder.startswith("."):
        continue
    if date_folder == "2020-12-13_16":
        continue

    collection_dir_path = abs_data_path + "/" + date_folder

    collection_times = []
    for file_path in os.listdir(collection_dir_path):
        data_file_path = collection_dir_path + "/" + file_path

        with open(data_file_path) as fil:
            firstline = fil.readline().rstrip()
            
        collection_times.append(firstline.split()[0])

        _df = pd.read_csv(data_file_path, sep=" ", names=csv_headers, skiprows=[0])

        src_host = data_file_path.split("/")[-1].split("-")[0][:-3]
        dst_host = data_file_path.split("/")[-1].split("-")[1][:-4]

        _df["collection_timestamp"] = max(set(collection_times), key = collection_times.count)
        _df["src_host"] = src_host
        _df["dst_host"] = dst_host

        dfs.append(_df[1:])

df = pd.concat(dfs, ignore_index=True)

In [51]:
df.timestamp = pd.to_datetime(df.timestamp, unit="s")
df.collection_timestamp = pd.to_datetime(df.collection_timestamp, unit="s")
df = df.astype({"incoming_rate_max": np.int64, "outgoing_rate_max": np.int64, "src_host": str, "dst_host": str})

### Collection time analysis

In [52]:
print(f"Num of unique collections: {len(df.collection_timestamp.unique())}")
print(f"Num of collection files: {len([ el for el in list(os.listdir(abs_data_path)) if not el.startswith('.') ])}")

collection_days = (df.collection_timestamp.max() - df.collection_timestamp.min())
collection_start = df.collection_timestamp.min()
collection_end = df.collection_timestamp.max()
print(f"Data collected for {collection_days}, starting from {collection_start} to {collection_end}")

df.head(5)

Num of unique collections: 282
Num of collection files: 271
Data collected for 526 days 23:00:01, starting from 2020-12-13 22:55:03 to 2022-05-24 21:55:04

,timestamp,incoming_rate_avg,outgoing_rate_avg,incoming_rate_max,outgoing_rate_max,collection_timestamp,src_host,dst_host
0,2022-04-06 21:50:04,16201,4794,16201,4794,2022-04-06 21:55:03,b6,b1
1,2022-04-06 21:50:00,16331,4831,29239,8524,2022-04-06 21:55:03,b6,b1
2,2022-04-06 21:45:00,29032,8490,29239,8524,2022-04-06 21:55:03,b6,b1
3,2022-04-06 21:40:00,13693,5999,13745,6012,2022-04-06 21:55:03,b6,b1
4,2022-04-06 21:35:00,8762,4762,22377,4793,2022-04-06 21:55:03,b6,b1

In [53]:
df["collection_interval"] = df.timestamp.shift(periods=1) - df.timestamp

In [54]:
# fix wrong timestamps that appeared as a result of .shift substruction

df.loc[(df.collection_interval < np.timedelta64(5, "m"), "collection_interval")] = np.timedelta64(5, "m")
df.loc[0, "collection_interval"] = np.timedelta64(5, "m")

In [55]:
# everything is uniformly spreaded - samples with 5 min intervals

df.loc[df.collection_interval <= np.timedelta64(6, "m")].collection_interval.unique()

array([300000000000], dtype='timedelta64[ns]')

In [88]:
# SAVE as a CSV for further processing
df.loc[df.collection_interval <= np.timedelta64(6, "m")].to_csv("data/samples_5m_v1.csv")

In [68]:
df = df.sort_values(by=["collection_timestamp", "timestamp"], ignore_index=True)

In [70]:
df.head()

,timestamp,incoming_rate_avg,outgoing_rate_avg,incoming_rate_max,outgoing_rate_max,collection_timestamp,src_host,dst_host,collection_interval
0,2018-10-10,64697,1115851,742794,2647466,2020-12-13 22:55:03,b6,b1,1 days
1,2018-10-10,22067585,1395227,51617147,6582025,2020-12-13 22:55:03,ftj,uci,1 days
2,2018-10-10,1395230,22067759,6618640,51787979,2020-12-13 22:55:03,uci,ftj,1 days
3,2018-10-10,45660922,12897180,137559426,57333135,2020-12-13 22:55:03,uci,cyfronet,1 days
4,2018-10-10,1115841,64699,2656793,742812,2020-12-13 22:55:03,b1,b6,1 days

In [85]:
data_collections = df.collection_timestamp.unique().copy()[:5]
nn = 0
diff = []
for pos, coll in enumerate(data_collections):
    if pos == len(data_collections)-1:
        break
    if data_collections[pos+1] - data_collections[pos] != np.timedelta64(2, "D"):
        print(data_collections[pos+1] - data_collections[pos])
        nn+=1
        diff.append(data_collections[pos+1] - data_collections[pos] - np.timedelta64(2, "D"))

print(nn, np.array(diff).mean())

86401000000000 nanoseconds
172799000000000 nanoseconds
172801000000000 nanoseconds
3 -28799666666666 nanoseconds

In [ ]:
for collection in df.collection_timestamp.unique()[:3]:
    print(collection)
    for con in CONNECTIONS[:3]:
        print(con)
        print(df.loc[
            (df.collection_timestamp == collection) & \
            (df.src_host == con[0]) &
            (df.dst_host == con[1])
        ])

### Wierd code, mostly tests

In [58]:
df.groupby(df.collection_timestamp, group_keys=True).apply(lambda x: x).timestamp

collection_timestamp
2020-12-13 15:25:03   9810450   2020-12-13 15:20:03
                      9810451   2020-12-13 15:20:00
                      9810452   2020-12-13 15:15:00
                      9810453   2020-12-13 15:10:00
                      9810454   2020-12-13 15:05:00
                                        ...
2022-05-24 21:55:04   6160045   2020-03-24 00:00:00
                      6160046   2020-03-23 00:00:00
                      6160047   2020-03-22 00:00:00
                      6160048   2020-03-21 00:00:00
                      6160049   2020-03-20 00:00:00
Name: timestamp, Length: 10304760, dtype: datetime64[ns]

In [55]:
(df.loc[df.collection_timestamp == "2020-12-13 15:25:03"].loc[df.src_host == "b1"].loc[df.dst_host == "uci"].timestamp.reset_index(drop=True) \
- df.loc[df.collection_timestamp == "2020-12-13 15:25:03"].loc[df.src_host == "b1"].loc[df.dst_host == "ftj"].timestamp.reset_index(drop=True)).unique()

array([0], dtype='timedelta64[ns]')

In [ ]:
df[df.collection_timestamp == "2020-12-13 15:25:03"].timestamp.to_numpy() - df[df.collection_timestamp == "2022-05-24 21:55:04"].timestamp.to_numpy()[:-1]

In [ ]:
plt.plot(df[df.src_host == "b1rtr"][df.dst_host == "uci"][df.collection_timestamp == df[:1].collection_timestamp.to_numpy()[0]].timestamp[1:], _diff[1:].to_numpy(dtype=np.int64)/(1000000000*60))

In [ ]:
_np_diff = _diff.to_numpy(dtype=np.int64)
print(len(_np_diff))
linn = np.linspace(0, 1000, num=len(_np_diff))
print(len(linn), len(_np_diff))
_np_diff.sort()
plt.plot(linn, _np_diff)

In [ ]:
first_best_file = files_tree['b6rtr-b1'][0]
first_one = '/Users/nick/Dev/magisterka/data/stats/2020-12-15_00/b6rtr-b1.log'
middle_one = '/Users/nick/Dev/magisterka/data/stats/2021-06-07_00/b6rtr-b1.log'
last_one = '/Users/nick/Dev/magisterka/data/stats/2022-05-25_00/b6rtr-b1.log'

headers = ["timestamp", "incoming_rate_avg", "outgoing_rate_avg", "incoming_rate_max", "outgoing_rate_max"]
data_first = pd.read_csv(first_one, sep=" ", names=headers, skiprows=[0])
data_middle = pd.read_csv(middle_one, sep=" ", names=headers, skiprows=[0])
data_last = pd.read_csv(last_one, sep=" ", names=headers, skiprows=[0])

data_first.timestamp = pd.to_datetime(data_first.timestamp, unit="s")
data_last.timestamp = pd.to_datetime(data_last.timestamp, unit="s")
data_middle.timestamp = pd.to_datetime(data_middle.timestamp, unit="s")

In [ ]:

fig = plt.figure(figsize=(24, 3))
plt.plot(data_first.timestamp, data_first.incoming_rate_avg, label="2020-12-15_00")
plt.plot(data_middle.timestamp, data_middle.incoming_rate_avg, label="2021-06-07_00")
plt.plot(data_last.timestamp, data_last.incoming_rate_avg, label="2022-05-25_00")
fig.legend()

# Visual
* Delta histogram
* Delta time series graph
* Aggregation level showed with colors 
* Use 'gggraph' for graph visualization